.heading {
      display: flex;
      background-color: #ff9999;
      padding: 8px;
      justify-content: center;
      font-size: 1rem;
}

.left {
      width: 76%;
      cursor: pointer;
}
  
.right {
      width: 24%;
}
  
.flex-container {
      display: flex;
}
